@{
    ViewData["Title"] = "BMW";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Купи свою нову BMW X6M вже сьогодні</h1>
            <p class="lead fw-normal text-white-50 mb-0">Buy a new BMW X6M and have a fun today</p>
            <p class="fw-normal text-gray-700">Купиш - не прогадаєш</p>
        </div>
    </div>
</section>

<hr class="divider" />

<section class="py-5" id="call-to-buy-section">
    <img src="https://www.bmw.ua/content/dam/bmw/common/all-models/m-series/x6m/2023/highlights/bmw-m-series-x6-m-sd-bmw-individual-01.jpg"
         id="call-to-buy-section__image"
         alt="BMW X6M"
         />
    <div class="container px-4 px-lg-5 my-5" id="call-to-buy-section__content">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">купи</h1>
            <p class="fw-normal text-gray-70 mb-2">Buy a new BMW X6M and have a fun today</p>
            <p class="fw-normal text-gray-70 mb-2">недорого</p>
            <button class="btn btn-primary">беру!</button>
        </div>
    </div>
</section>

